<?xml version="1.0"?>

<launch>
	
	<!-- start the robot control node -->
	<node name="RobotControlNode" pkg="thyroid_ultrasound_robot_control" type="RobotControlNode.py"/>
	
	<!-- start the trajectory generation node -->
	<node name="TransformationCreationNode" pkg="thyroid_ultrasound_robot_control" type="TransformationCreationNode.py"/>
	
</launch>
